# Rust
src-rust/target/

# OS
.DS_Store

# Refs
refs/

# Claude
.claude

# Agents
.agent/

# Claurst
.claurst/

# Git
.gitignore
.gitattributes

# VSCode / unsolicited devcontainers mounts
.vscode/
.claurst/
