# Rust
src-rust/target/

# OS
.DS_Store

# Refs
refs/

# Claude
.claude

# Agents
.agents/

# OpenCode
.opencode/
opencode.jsonc

# Cline
.clinerules/

# Claurst
.claurst/

# Git
.gitignore
.gitattributes

# VSCode / unsolicited devcontainers mounts
.vscode/
.claurst/